.sujet {
  width: 90%;
  border: 1px solid black;
  margin: auto;
  padding: 1%;
  margin-bottom: 5%;
  height: 100px;
}

.portion {
  float: left;
  margin-left: 4%;
}

.compteur {
  float: right;
}


